### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [25]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])


school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [26]:
# Calculating feilds
total_schools = len(school_data_complete_df["school_name"].unique())
total_students = school_data_complete_df["school_name"].count()
total_budget_unique = school_data_complete_df["budget"].unique().astype(float)
total_budget = sum(total_budget_unique)
average_math = school_data_complete_df["math_score"].mean()
average_reading = school_data_complete_df["reading_score"].mean()

passing_mscore_df = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,:]
passing_rscore_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,:]
passing_oscore_df = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70),:]



passing_math = (len(passing_mscore_df["student_name"]) / total_students) * 100
passing_reading = (len(passing_rscore_df["student_name"]) / total_students) * 100 
passing_overall = (len(passing_oscore_df["student_name"])/ total_students) * 100

 
# Creating New df
district_summary_df = pd.DataFrame({"Total Schools": total_schools,
                                    "Total Students": total_students,
                                    "Total Budget": total_budget,
                                    "Average Math Score": [average_math],
                                    "Average Reading Score": average_reading,
                                    "Passing Math Percentage": [passing_math],
                                    "Passing Reading Percentage": [passing_reading],
                                    "Passing Overall Percentage": [passing_overall]})


district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Passing Overall Percentage
0,15,39170,24649428.0,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [27]:
# Determine the School Type
school_types = school_data_complete_df.set_index(["school_name"])["type"]

# Calculate the total student count
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]


# Get the students who passed math and passed reading by creating separate filtered DataFrames.
school_passing_math = school_data_complete_df[(school_data_complete["math_score"] >= 70)]
school_passing_reading = school_data_complete_df[(school_data_complete["reading_score"] >= 70)]

# Get the the students who passed both reading and math in a separate DataFrame.
passing_math_and_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]
#  Calculate the Percentage Pass Rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": overall_passing_rate})

# Minor data munging
per_school_summary = per_school_summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                                         "Average Math Score", "Average Reading Score", 
                                         "% Passing Math", "% Passing Reading", 
                                         "% Overall Passing"]]
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

NameError: name 'school_data_complete' is not defined

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
sorted_Dpct_df = school_name_reordered_df.sort_values("Overall Passing Percentage", ascending=False)

sorted_Dpct_df.head()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

In [ ]:
sorted_Apct_df = school_name_reordered_df.sort_values("Overall Passing Percentage", ascending=True)

sorted_Apct_df

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
# school_data_complete_df.head()

Nine_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "9th",:].groupby(["School Name"])
Nine_ave_df = Nine_df["math_score"].mean()
Ten_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "10th",:].groupby(["School Name"])
Ten_ave_df = Ten_df["math_score"].mean()
Eleven_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "11th",:].groupby(["School Name"])
Eleven_ave_df = Eleven_df["math_score"].mean()
Twelve_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "12th",:].groupby(["School Name"])
Twelve_ave_df = Twelve_df["math_score"].mean()


    
math_mean_df = pd.DataFrame({"9th": Nine_ave_df, 
                    "10th": Ten_ave_df,
                    "11th": Eleven_ave_df,
                    "12th": Twelve_ave_df})
math_mean_df.head(15)

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# school_data_complete_df.head()

Nine1_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "9th",:].groupby(["School Name"])
Nine1_ave_df = Nine_df["reading_score"].mean()
Ten1_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "10th",:].groupby(["School Name"])
Ten1_ave_df = Ten_df["reading_score"].mean()
Eleven1_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "11th",:].groupby(["School Name"])
Eleven1_ave_df = Eleven_df["reading_score"].mean()
Twelve1_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "12th",:].groupby(["School Name"])
Twelve1_ave_df = Twelve_df["reading_score"].mean()


    
reading_mean_df = pd.DataFrame({"9th": Nine1_ave_df, 
                    "10th": Ten1_ave_df,
                    "11th": Eleven1_ave_df,
                    "12th": Twelve1_ave_df})
reading_mean_df.head(15)

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
bins = [0, 7261.23, 10796.94, 14536.75, 1000000000000]

groups= ["<$7261.23","$7261.23 - $10796.94","$10796.94 - $57726.99","$57726.99 >"]

# StudentsPerSchool_bins = school_data_complete_df["student_name"].count()
# TotalBudget1_bins = school_data_complete_df["budget"].unique().astype(float)
# TotalBudget_bins = TotalBudget1_bins.sum()
# BudgetPerStudent_bins = (TotalBudget_bins.sum()/StudentsPerSchool_bins)

# AverageMath_B = school_data_complete_df["math_score"].mean()
# AverageReading_B = school_data_complete_df["reading_score"].mean()

# PassingMath2 = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,:]
# PassingMathPct2 = (PassingMath2["student_name"].count()/ StudentsPerSchool_bins) * 100 

# PassingReading2 = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,:] 
# PassingReadingPc2t = (PassingReading2["student_name"].count()/ StudentsPerSchool_bins) * 100 

# OverallPassing2 = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70),:]
# OverallPassingPct2 = (OverallPassing2["student_name"].count()/ StudentsPerSchool_bins) * 100 

# Spending_Ranges_df = pd.DataFrame({"Average Math Score": AverageMath_B, 
#                     "Average Reading Score": AverageReading_B,
#                     "Passing Math Percentage": PassingMathPct2,
#                     "Passing Reading Percentage": PassingReadingPc2t, 
#                     "Overall Passing Percentage": OverallPassingPct2,
#                     "Budget Per Student": BudgetPerStudent})

Spending_Ranges_df = school_name_reordered_df[["Per Student Budget","Average Math Score","Average Reading Score","Passing Math Percentage","Passing Reading Percentage","Overall Passing Percentage"]]

Spending_Ranges_df["Spending Ranges"] = pd.cut(Spending_Ranges_df["Per Student Budget"], bins, labels=groups, include_lowest=True)

Spending_Ranges_df2 = Spending_Ranges_df.groupby("Spending Ranges")

Spending_Ranges_df2.max()

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
school_bins = [0, 1000, 2000, 5000]

school_groups= ["Small (<1000)","Medium (1000 - 2000)","Large (2000 - 5000)",]

School_size_df = school_name_reordered_df[["Total Students","Average Math Score","Average Reading Score","Passing Math Percentage","Passing Reading Percentage","Overall Passing Percentage"]]

School_size_df["Spending Ranges"] = pd.cut(School_size_df["Total Students"], school_bins, labels=school_groups, include_lowest=True)

School_size_df2 = School_size_df.groupby("Spending Ranges")

School_size_df2.max()

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
School_type_df = school_name_reordered_df[["School Type","Average Math Score","Average Reading Score","Passing Math Percentage","Passing Reading Percentage","Overall Passing Percentage"]]


School_type_df2 = School_type_df.groupby(["School Type"])
School_type_df2.max()