### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [47]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete_df = school_data_complete_df.rename(columns={"school_name":"School Name"})


school_data_complete_df.head()

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [48]:
# Setting 
total_schools = len(school_data_complete_df["School Name"].unique())
total_students = school_data_complete_df["School Name"].count() 
total_budget = school_data_complete_df["budget"].sum()
average_math = school_data_complete_df["math_score"].mean()
average_reading = school_data_complete_df["reading_score"].mean()

passing_mscore_df = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,:]
passing_rscore_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,:]
passing_oscore_df = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70),:]



passing_math = (len(passing_mscore_df["student_name"]) / total_students) * 100
passing_reading = (len(passing_rscore_df["student_name"]) / total_students) * 100 
passing_overall = (len(passing_oscore_df["student_name"])/ total_students) * 100

 

district_summary_df = pd.DataFrame({"Total Schools": total_schools,
                                    "Total Students": total_students,
                                    "Total Budget": total_budget,
                                    "Average Math Score": [average_math],
                                    "Average Reading Score": average_reading,
                                    "Passing Math Percentage": [passing_math],
                                    "Passing Reading Percentage": [passing_reading],
                                    "Passing Overall Percentage": [passing_overall]})


district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Passing Overall Percentage
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [49]:
school_name_gb = school_data_complete_df.groupby(["School Name"])



school_type = school_name_gb["type"].max()
StudentsPerSchool = school_name_gb["student_name"].count()
TotalBudget = school_name_gb["budget"].sum()
BudgetPerStudent = (school_name_gb["budget"].sum()/StudentsPerSchool)

AverageMath = school_name_gb["math_score"].mean()
AverageReading = school_name_gb["reading_score"].mean()

PassingMath_gb = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,:].groupby(["School Name"])
PassingMathPct = (PassingMath_gb["student_name"].count()/ StudentsPerSchool) * 100 

PassingReading_gb = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,:].groupby(["School Name"]) 
PassingReadingPct = (PassingReading_gb["student_name"].count()/ StudentsPerSchool) * 100 

OverallPassing_gb = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70),:].groupby(["School Name"])
OverallPassingPct = (OverallPassing_gb["student_name"].count()/ StudentsPerSchool) * 100 


school_name_reordered_df = pd.DataFrame({"School Type": school_type, 
                                        "Total Students": StudentsPerSchool,
                                        "Total School Budget": TotalBudget,
                                        "Per Student Budget": BudgetPerStudent,
                                        "Average Math Score": AverageMath,
                                        "Average Reading Score": AverageReading,
                                        "Passing Math Percentage": PassingMathPct,
                                        "Passing Reading Percentage": PassingMathPct,
                                        "Overall Passing Percentage": OverallPassingPct })

school_name_reordered_df.head(15)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
School Name,,,,,,,,,
Bailey High School,District,4976,15549641728,3124928.0,77.048432,81.033963,66.680064,66.680064,54.642283
Cabrera High School,Charter,1858,2009159448,1081356.0,83.061895,83.975780,94.133477,94.133477,91.334769
Figueroa High School,District,2949,5557128039,1884411.0,76.711767,81.158020,65.988471,65.988471,53.204476
Ford High School,District,2739,4831365924,1763916.0,77.102592,80.746258,68.309602,68.309602,54.289887
Griffin High School,Charter,1468,1346890000,917500.0,83.351499,83.816757,93.392371,93.392371,90.599455
Hernandez High School,District,4635,14007062700,3022020.0,77.289752,80.934412,66.752967,66.752967,53.527508
Holden High School,Charter,427,105933149,248087.0,83.803279,83.814988,92.505855,92.505855,89.227166
Huang High School,District,2917,5573322295,1910635.0,76.629414,81.182722,65.683922,65.683922,53.513884
Johnson High School,District,4761,14733628650,3094650.0,77.072464,80.966394,66.057551,66.057551,53.539172
Pena High School,Charter,962,563595396,585858.0,83.839917,84.044699,94.594595,94.594595,90.540541
Rodriguez High School,District,3999,10186904637,2547363.0,76.842711,80.744686,66.366592,66.366592,52.988247
Shelton High School,Charter,1761,1860672600,1056600.0,83.359455,83.725724,93.867121,93.867121,89.892107
Thomas High School,Charter,1635,1705517550,1043130.0,83.418349,83.848930,93.272171,93.272171,90.948012
Wilson High School,Charter,2283,3012587442,1319574.0,83.274201,83.989488,93.867718,93.867718,90.582567
Wright High School,Charter,1800,1888920000,1049400.0,83.682222,83.955000,93.333333,93.333333,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [50]:
sorted_Dpct_df = school_name_reordered_df.sort_values("Overall Passing Percentage", ascending=False)

sorted_Dpct_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
School Name,,,,,,,,,
Cabrera High School,Charter,1858,2009159448,1081356.0,83.061895,83.975780,94.133477,94.133477,91.334769
Thomas High School,Charter,1635,1705517550,1043130.0,83.418349,83.848930,93.272171,93.272171,90.948012
Griffin High School,Charter,1468,1346890000,917500.0,83.351499,83.816757,93.392371,93.392371,90.599455
Wilson High School,Charter,2283,3012587442,1319574.0,83.274201,83.989488,93.867718,93.867718,90.582567
Pena High School,Charter,962,563595396,585858.0,83.839917,84.044699,94.594595,94.594595,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [51]:
sorted_Apct_df = school_name_reordered_df.sort_values("Overall Passing Percentage", ascending=True)

sorted_Apct_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
School Name,,,,,,,,,
Rodriguez High School,District,3999,10186904637,2547363.0,76.842711,80.744686,66.366592,66.366592,52.988247
Figueroa High School,District,2949,5557128039,1884411.0,76.711767,81.158020,65.988471,65.988471,53.204476
Huang High School,District,2917,5573322295,1910635.0,76.629414,81.182722,65.683922,65.683922,53.513884
Hernandez High School,District,4635,14007062700,3022020.0,77.289752,80.934412,66.752967,66.752967,53.527508
Johnson High School,District,4761,14733628650,3094650.0,77.072464,80.966394,66.057551,66.057551,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [54]:
# school_data_complete_df.head()

Nine_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "9th",:].groupby(["School Name"])
Nine_ave_df = Nine_df["math_score"].mean()
Ten_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "10th",:].groupby(["School Name"])
Ten_ave_df = Ten_df["math_score"].mean()
Eleven_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "11th",:].groupby(["School Name"])
Eleven_ave_df = Eleven_df["math_score"].mean()
Twelve_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "12th",:].groupby(["School Name"])
Twelve_ave_df = Twelve_df["math_score"].mean()


    
math_mean_df = pd.DataFrame({"9th": Nine_ave_df, 
                    "10th": Ten_ave_df,
                    "11th": Eleven_ave_df,
                    "12th": Twelve_ave_df})
math_mean_df.head(15)

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [55]:
# school_data_complete_df.head()

Nine1_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "9th",:].groupby(["School Name"])
Nine1_ave_df = Nine_df["reading_score"].mean()
Ten1_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "10th",:].groupby(["School Name"])
Ten1_ave_df = Ten_df["reading_score"].mean()
Eleven1_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "11th",:].groupby(["School Name"])
Eleven1_ave_df = Eleven_df["reading_score"].mean()
Twelve1_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "12th",:].groupby(["School Name"])
Twelve1_ave_df = Twelve_df["reading_score"].mean()


    
reading_mean_df = pd.DataFrame({"9th": Nine1_ave_df, 
                    "10th": Ten1_ave_df,
                    "11th": Eleven1_ave_df,
                    "12th": Twelve1_ave_df})
reading_mean_df.head(15)

                             9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [60]:


school_data_complete_df["budget"].describe()

count    3.917000e+04
mean     2.117241e+06
std      8.749987e+05
min      2.480870e+05
25%      1.081356e+06
50%      1.910635e+06
75%      3.022020e+06
max      3.124928e+06
Name: budget, dtype: float64

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type